# Archivos de entorno virtual
venv/
*.venv/

# Archivos de credenciales y secretos
credentials.json
*.secret

# Archivos compilados de Python
__pycache__/
*.pyc

.env
entrada.json
testeo.csv
generated_env_credentials.json
